

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.intro-image {
    background-attachment: fixed;
    background-image: url('../img/img2.jpeg');
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .intro-image__link a {
    background-color: #716b6c7d;
    border: 2px solid #716b6c;
    color: #dec8be;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
 }

 .intro-image__link a:hover {
    transform: scale(1.2);
 }

 .intro-text {
    background-color: #466877;
    color: #dec8be;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
   padding: 0 15rem;
 }

 .intro-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
 }

 .quality-image {
    background-attachment: fixed;
    background-image: url('../img/pexels-photo-2836945.webp');
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .quality-image__link a {
    background-color: #9e7f727b;
    border: 2px solid #9e7f72;
    color: #d2cacc;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
 }

 .quality-image__link a:hover {
    transform: scale(1.2);
 }

.Origin-image {
    background-attachment: fixed;
    background-image: url('../img/img1.webp');
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Origin-image a {
    background-color: #9e7f727b;
    border: 2px solid #9e7f72;
    color: #d2cacc;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
 }

 .Origin-image__link a:hover {
    transform: scale(1.2);
 }

 .origin-text {
    background-color: #675f59;
    color: #b7b1b2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
   padding: 0 15rem;
 }

 .origin-text__texbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
 }

 .quality-text {
    background-color: #7e7269;
    color: #d2cacc;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
   padding: 0 15rem;
 }

 .quality-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
 }

 .footer {
    height: 250px;
    background-color: #403833;
    color: #aa9f9d;
    font-size: 2rem;
    padding-top: 2rem;
 }

 .footer ul li {
    display: inline-block;
    margin: 1rem;
 }

 .footer ul li a {
    color: #aa9f9d;
    text-decoration: none;
 }
 .footer ul li:hover {
    transform: scale(1.3);
 }